/* header ------------*/

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 92px;
    margin-bottom: 92px;
}

.header__menu {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.header__links__list {
    display: flex;
    margin-left: 50px;
    gap: 33px;
    list-style: circle;
}

.header__links__list__item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid;
}

.header__link_active {
    text-decoration: none;
    padding-bottom: 1px;
}

.header__logo {
    max-width: 148px;
    justify-self: center;
}

.header__logo-image {
    height: 105px;
}

.header__address {
    align-self: center;
    justify-self: end;
    margin-right: 50px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-offset: 4px;
    max-width: 240px;
}

/* main -------------------*/

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    min-height: 757px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.overlay {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.no-letter-spacing {
    letter-spacing: 60px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.cover__title {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 173px;
    z-index: 0;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    text-transform: uppercase;
}

.aligned-center {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.aligned-right {
    margin-top: 20px;
    display: block;
    text-align: right;
    margin-right: -30px;
}
   
.cover__description {
    margin-top: 135px;
    margin-right: 50px;
    z-index: 0;
    display: flex;
    gap: 78px;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    justify-self: flex-end;
}

.cover__description-text {
    font-family: Raleway, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing:  17px;
}

.word-spacing-extended {
    word-spacing: 22px;
}

.bet-button {
    cursor: pointer;
    background-color: transparent;
    border-color: white;
    width: 257px;
    height: 52px;
    flex-shrink: 0;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #fff;
}

/* lots */

.lots {
    margin-top: 180px;
}

.lots__heading {
    margin-left: 90px;
    margin-bottom: 27px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    list-style: none;
}

.lots__card-list-item {
    position: relative;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    max-width: 430px;
    min-width: 430px;
    min-height: 450px;
}

.card-link {
    height: 100%;
    display: block;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    color: #fff;
    width: 350px;
    min-height: 350px;
    margin-top: 50px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.card__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.lots__look-more-link {
    display: inline-block;
    border-bottom: 1px solid;
    text-decoration: none;
    margin-left: 90px;
    margin-top: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    max-width: 1340px;
    margin: auto;
    margin-top: 180px;
}

.column__left {
    grid-column: 1;
    display: grid;
}

.about__logo {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 95px;
}

.about__logo-image {
    max-width: 148px;
    min-height: 114px;
}

.about__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.90px;
    margin-top: 25px;
}

/* footer -----------------*/

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 181px;
    margin-bottom: 90px;
    text-decoration: none;
}

.footer__address {
    margin-left: 50px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-underline-offset: 5px;
    max-width: 240px;
}

.footer__menu {
    display: flex;
    justify-self: center;
    color: #000;
    line-height: 21px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 48px;
    margin-right: 50px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}